.steady_item {
    height: 25px;
    margin-top: 7px;
}
.scm_music_player_play {
    background: url(img/scm_music_player_play.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
}
.scm_music_player_play:active {
    background: url(img/scm_music_player_play.png) no-repeat;
}
.scm_music_player_queue {
    background: url(img/scm_music_player_queue.png) no-repeat;
    cursor: pointer;
    border: none;
    width: 25px;
    height: 25px;
}
.scm_music_player_queue:active {
    background: url(img/scm_music_player_queue.png) no-repeat;
}
steady_item_title {
    color: blue;
    font-weight: bold
}